/* Start Metrics CSS- Filimon*/
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  font-size: small;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dropDownContainer {
  display: flex;
  justify-content: space-evenly;
}

.charts {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  /* height: fit-content; */
}

.reportPDFbtnDIV {
  display: flex;
  justify-content: space-evenly;
}


.reportPDFbtn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 4px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.reportPDFbtn:hover,
.reportPDFbtn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.reportPDFbtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.reportPDFbtn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}



.taskDescription {
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}



.zeroTaskImg {
  width: 100%;
  height: 100%;
}








/* End Metrics CSS - Filimon*/


/* Forms */

label {
  font-weight: bold;
  display: flex;
}

.category-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: rgb(255, 255, 255);
  height: calc((100% - 30px) / 2) !important;
  /* width: 60px; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.header {
  padding: 1px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
}

li {
  display: inline-block;
  margin:0.25em
}


/* React Modals */

.Modal {
  background-color: rgb(200, 244, 249);
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5%;
}

.Overlay {
  color: black;
  z-index: 1300;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* React Modals End */