/* Start Metrics CSS- Filimon*/
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  font-size: small;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dropDownContainer {
  display: flex;
  justify-content: space-evenly;
}

.charts {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  /* height: fit-content; */
}

.reportPDFbtnDIV {
  display: flex;
  justify-content: space-evenly;
}


.reportPDFbtn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 4px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.reportPDFbtn:hover,
.reportPDFbtn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.reportPDFbtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.reportPDFbtn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}



.taskDescription {
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}



.zeroTaskImg {
  width: 100%;
  height: 100%;
}








/* End Metrics CSS - Filimon*/


/* Forms */

label {
  font-weight: bold;
  display: flex;
}

.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  width: 360px;
}

.input {
  width: 360px;
}

.custom-select {
  width: 360px;
}

.description-input {
  width: 354px;
  height: 75px;
}

.category-modal {
  display: flex;
  position: fixed;
  z-index: 2;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: rgb(200, 244, 249);
  margin: auto;
  border: 2px solid black;
  border-radius: 5%;
  width: 150px;
  height: 150px;
  align-content: center;
  padding: 0px 10px 22px 15px
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: rgb(255, 255, 255);
  height: calc((100% - 30px) / 2) !important;
  /* width: 60px; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.header {
  background: #d9ecf4;
  border-bottom: 1px solid #999;
  margin-left:0em;
  margin-bottom: 0.5em;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between

}

ul{
  list-style: none ;
  margin:0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: inline-block;


}


li{
  display: inline;
  text-align: center;

}




.titleText{
  font-size:24px;
  font-weight: bold;

}
  /* margin:0.25em
} */


/* React Modals */

.Modal {
  background-color: rgb(200, 244, 249);
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5%;
}

.Overlay {
  color: black;
  z-index: 1300;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* React Modals End */
.contain{
  margin-left:2%;
  margin-right:2%
}
.textp{
  margin-left:3%;
  margin-right:3%;
  text-align:center
}
.buttonNav{
  margin-right: 24px

}
.header2{
  background: #d9ecf4;
  border-bottom: 1px solid #999;
  margin-left: 0em;
  margin-bottom: 0.5em;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}